{% extends 'base.html' %}
{% load static %}

{% block title %}Choice Form{% endblock %}

{% block content %}
    <div class="container">
            <div class="bg-light p-3 p-sm-5 my-4 rounded">
                <h1 class="display-4">データ登録先選択</h1>
                <hr class="my-4">
                <p>データ登録先を選択してください。</p>
                <form action="{% url 'data:choice_url' %}"  method="post" style="margin-top: 1rem">
                    {% csrf_token %}
                    <p>抽出前の画面に戻れます。</p>
                    <input hidden type="text" name="category" value="{{ category }}">
                    <button type="submit" class="btn" style="background-color: forestgreen; color: #303f42;">
                        URL選択の画面に戻る
                        <i class="far fa-list-alt"></i>
                    </button>
                    <br>
                </form>
                <form action="{% url 'data:choice_form' %}"  method="post" style="margin-top: 1rem">
                    {% csrf_token %}
                    <p>抽出前の画面に戻れます。</p>
                    <input hidden type="text" name="category" value="{{ category }}">
                    <input hidden type="text" name="message" value="return">
                    <input hidden type="text" name="url" value="{{ url }}">
                    <input hidden type="text" name="html" value="{{ html }}">
                    <button type="submit" class="btn" style="background-color: #77c7e2; color: #303f42;">
                        戻る
                        <i class="far fa-list-alt"></i>
                    </button>
                    <br>
                </form>
            </div>
        </div>
    <div class="container">
        <form action="{% url 'data:data_register' %}"  method="post">
            {% csrf_token %}
            <select name="select_form" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected >
                    データ登録先を選択してください。
                </option>
                {% for form in select_forms %}
                    <option value="{{ form }}">{{ form }}</option>
                {% endfor %}
            </select>
            <input hidden type="text" name="category" value="{{ category }}">
            <input hidden type="text" name="url" value="{{ url }}">
            <input hidden type="text" name="message" value="form">
            {% if extract_html != "none" %}
                <input hidden type="text" name="html" value="{{ extract_html }}">
            {% else %}
                <input hidden type="text" name="html" value="{{ html }}">
            {% endif %}
            <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                選択
            </button>
            <br>
        </form>
        <form action="{% url 'data:choice_form' %}"  method="post">
            {% csrf_token %}
            <p>データを抽出できます。</p>
            <div class="mb-3" style="margin-top: 1rem">
                <label for="code" class="form-label">抽出[例：html.select("div.クラス名")]</label>
                <input type="text" name="code" class="form-control" id="code" placeholder="コード">
            </div>
            <input hidden type="text" name="category" value="{{ category }}">
            <input hidden type="text" name="message" value="extract">
            <input hidden type="text" name="url" value="{{ url }}">
            <input hidden type="text" name="html" value="{{ html }}">
            <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                選択
            </button>
            <br>
        </form>
    </div>

    <div class="container">
        {% if extract_html != "none" %}
            <p>{{ extract_html }}</p>
            <p>{{ extract_html | safe | escape }}</p>
        {% else %}
            <p>{{ html | safe | escape }}</p>
        {% endif %}
    </div>
{% endblock %}