{% extends 'base.html' %}
{% load static %}

{% block title %}Choice URL{% endblock %}

{% block content %}
    <div class="container">
            <div class="bg-light p-3 p-sm-5 my-4 rounded">
                <h1 class="display-4">URL選択</h1>
                <hr class="my-4">
                <p>URLを選択してください。</p>
                <a href="{% url 'data:choice_hospital' %}" class="btn"
                   style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button">
                    戻る
                    <i class="far fa-list-alt"></i>
                </a>
            </div>
        </div>
    <div class="container">
        <form action="{% url 'data:choice_form' %}"  method="post">
            {% csrf_token %}
            <select name="url" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected >
                    URLを選択してください。
                </option>
                {% for url in urls %}
                    <option value="{{ url }}">{{ url }}</option>
                {% endfor %}
            </select>
            <input hidden type="text" name="category" value="{{ category }}">
            <input hidden type="text" name="message" value="url">
            <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                選択
            </button>
            <br>
        </form>
    </div>
{% endblock %}