{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">データ登録</h1>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <form action="{% url 'data:register' %}"  method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="button">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <input hidden type="text" name="top_url" value="{{ top_url }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                                TOPに戻る
                            </button>
                        </form>
                        <a href="{% url 'data:home' %}" class="btn"
                           style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button">
                            選択に戻る
                            <i class="fas fa-undo"></i>
                        </a>
                    </div>
                    <div class="col-4"
                         style="display: flex; flex-direction: column; flex-wrap: wrap;">
                        <form action="{% url 'data:create_category' %}"  method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="category">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <input hidden type="text" name="top_url" value="{{ top_url }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                                カテゴリ追加
                            </button>
                        </form>
                        <form action="{% url 'data:create_tag' %}"  method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="category">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <input hidden type="text" name="forms_name" value="{{ forms_name }}">
                            <input hidden type="text" name="top_url" value="{{ top_url }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                                タグ追加
                            </button>
                        </form>
                    </div>
                    <div class="col-4">
                        <form action="{% url 'data:data_register' %}"  method="post">
                            {% csrf_token %}
                            <select name="form" class="form-select" aria-label="フォーム選択">
                                <option selected>フォームを選択。</option>
                                {% for f in form %}
                                    <option value="{{ f }}">{{ f }}</option>
                                {% endfor %}
                            </select>
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="register">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <input hidden type="text" name="forms_name" value="{{ forms_name }}">
                            <input hidden type="text" name="top_url" value="{{ top_url }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-top: 1rem">
                                データ登録
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="{% url 'data:data_register' %}"  method="post">
            {% csrf_token %}

            {{ forms.as_p }}

            <p>{{ url }}</p>

            <input hidden type="text" name="hospitals" value="{{ hospital }}">
            <input hidden type="text" name="message" value="data_register">
            <input hidden type="text" name="field" value="{{ field }}">
            <input hidden type="text" name="href" value="{{ url }}">
            <input hidden type="text" name="html" value="{{ html }}">
            <input hidden type="text" name="forms_name" value="{{ forms_name }}">
            <input hidden type="text" name="top_url" value="{{ top_url }}">
            <br>

            <button type="submit" class="btn btn-secondary" style="margin-bottom: 1rem">
                データ登録
            </button>
        </form>
    </div>

    <div class="container">
        {{ html | safe | escape }}
    </div>

    <hr>

    <div class="container">
        {{ html }}
    </div>
{% endblock %}