{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'data/css/data_register.css' %}">
{% endblock %}

{% block title %}Data Import{% endblock %}

{% block content %}
    {% if data_check == "on" %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>データ追加完了！</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            {% if message == "get_data" %}
                <a href="{% url 'data:register' %}" class="register-right-btn btn-real-dent"
                    onclick='return confirm("登録を完了しますか？");'>
                    <i class="far fa-check-circle"></i>
                </a>
            {% endif %}
            <h1 class="display-4">データ登録</h1>
            {% if message == "get_data" %}
                <form action="{% url 'data:data_choice' %}"  method="post">
                    {% csrf_token %}
                    <select class="form-select form-select-lg mb-3" name="register_form" aria-label=".form-select-lg example">
                        <option selected>登録先を選択してください。</option>
                        <option value="DoctorForm">医師情報</option>
                        <option value="ScheduleForm">診察時間</option>
                        <option value="PageForm">ページ</option>
                    </select>
                    <input hidden type="text" name="message" value="choice_form">
                    <input hidden type="text" name="url" value="{{ data.url }}">
                    <input hidden type="text" name="html" value="{{ data.html }}">
                    <button type="submit" class="btn btn-secondary" style="margin-bottom: 1rem">
                        選択
                    </button>
                </form>
            {% endif %}
            <hr class="my-4">
            <p>データを登録</p>
            <a href="{% url 'data:register' %}" class="btn"
               style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button">
                戻る
                <i class="far fa-list-alt"></i>
            </a>
        </div>
    </div>
    <div class="container">
        {% if message == "choice_data" %}
            <form action="{% url 'data:data_choice' %}"  method="post">
                {% csrf_token %}
                <select class="form-select form-select-lg mb-3" name="data" aria-label=".form-select-lg example">
                    <option selected>URLを選択してください。</option>
                    {% for data in datas %}
                        <option value="{{ data.url }}">{{ data.url }}</option>
                    {% endfor %}
                </select>
                <input hidden type="text" name="message" value="{{ message }}">
                <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                    選択
                </button>
            </form>
        {% elif message == "select_form" %}
            <form action="{% url 'data:register' %}"  method="post">
                {% csrf_token %}
                {% for form in forms %}
                    {% if forloop.counter != 1 %}
                        {{ form }}
                    {% endif %}
                {% endfor %}
                <input hidden type="text" name="register_form" value="{{ register_form }}">
                <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem; margin-top: 1rem">
                    データ登録
                </button>
            </form>
            <p style="margin-top: 1rem">{{ url }}</p>
            <form action="{% url 'data:extract' %}"  method="post">
                {% csrf_token %}
                <div class="mb-3" style="margin-top: 1rem">
                    <label for="code" class="form-label">抽出[例：html.select("div.クラス名")]</label>
                    <input type="text" name="code" class="form-control" id="code" placeholder="コード">
                </div>
                <input hidden type="text" name="url" value="{{ url }}">
                <input hidden type="text" name="html" value="{{ html }}">
                <input hidden type="text" name="register_form" value="{{ register_form }}">
                <input hidden type="text" name="message" value="extract_code">
                <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                    抽出
                </button>
            </form>
            <p>{{ html | safe | escape }}</p>
            <p>{{ html }}</p>
        {% elif message == "extract_html" %}
            <div class="container">
                <form action="{% url 'data:register' %}"  method="post">
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form }}
                    {% endfor %}
                    <input hidden type="text" name="register_form" value="{{ register_form }}">
                    <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                        データ登録
                    </button>
                </form>
            </div>
            <div class="container">
                <form action="{% url 'data:data_choice' %}"  method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="url" value="{{ url }}">
                    <input hidden type="text" name="html" value="{{ html }}">
                    <input hidden type="text" name="register_form" value="{{ register_form }}">
                    <input hidden type="text" name="message" value="choice_form">
                    <button type="submit" class="btn btn-secondary" style="margin-bottom: 3rem">
                        戻る
                    </button>
                </form>
            </div>
            <p>{{ url }}</p>
            <p style="margin-top: 2rem">{{ new_html | safe | escape }}</p>
            <p>{{ new_html }}</p>
        {% elif message == "get_data" %}
            <p>{{ data.url }}</p>
            <p>{{ data.html | safe | escape }}</p>
        {% endif %}
    </div>
{% endblock %}