{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if message == "done" %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>登録完了！</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">データ登録</h1>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <form action="{% url 'data:register' %}"  method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="button">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                                TOPに戻る
                            </button>
                        </form>
                        <a href="{% url 'data:home' %}" class="btn"
                           style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button">
                            選択に戻る
                            <i class="fas fa-undo"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <form action="{% url 'data:create_category' %}"  method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="category">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                                カテゴリ追加
                            </button>
                        </form>
                    </div>
                    <div class="col-4">
                        <form action="{% url 'data:data_register' %}"  method="post">
                            {% csrf_token %}
                            <select name="form" class="form-select" aria-label="フォーム選択">
                                <option selected>フォームを選択。</option>
                                {% for form in forms %}
                                    <option value="{{ form }}">{{ form }}</option>
                                {% endfor %}
                            </select>
                            <input hidden type="text" name="hospital" value="{{ hospital }}">
                            <input hidden type="text" name="message" value="register">
                            <input hidden type="text" name="field" value="{{ field }}">
                            <input hidden type="text" name="href" value="{{ url }}">
                            <input hidden type="text" name="html" value="{{ html }}">
                            <button type="submit" class="btn btn-outline-secondary" style="margin-top: 1rem">
                                データ登録
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="{% url 'data:register' %}"  method="post">
            {% csrf_token %}
            <label for="code" class="form-label">スクレイピング</label>
            <input type="text" name="code" id="code" class="form-control">

            <input hidden type="text" name="hospital" value="{{ hospital }}">
            <input hidden type="text" name="message" value="code">
            <input hidden type="text" name="field" value="{{ field }}">
            <input hidden type="text" name="href" value="{{ url }}">
            <input hidden type="text" name="html" value="{{ html }}">
            <button type="submit" class="btn btn-outline-success" style="margin-top: 1rem; margin-bottom: 1rem">
                スクレイピング
            </button>
        </form>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            {% for href, text in a_dict.items %}
                <div class="col-3">
                    <form action="{% url 'data:register' %}"  method="post">
                        {% csrf_token %}
                        <input hidden type="text" name="hospital" value="{{ hospital }}">
                        <input hidden type="text" name="message" value="button">
                        <input hidden type="text" name="field" value="{{ field }}">
                        <input hidden type="text" name="href" value="{{ href }}">
                        <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 1rem">
                            {{ text }}
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="container">
        {{ html | safe | escape }}
    </div>

    <hr>

    <div class="container">
        {{ html }}
    </div>
{% endblock %}